<br>
<div class="container">

	<div class="row">
	
		<div class="col-md-3">
			<img [src]="artista.images | sinfoto" class="img-thumbnail img-circular">		
		</div>
	
		<div class="col-md-9">
			<h1> {{ artista.name }} </h1>
			<hr>

			<a [href]="artista.external_urls?.spotify" target="_blank" class="btn btn-outline-success"> Abrir Spotify </a>
			<button [routerLink]="['/search']" type=button class="btn btn-outline-danger"> Regresar </button>
		
		</div>
	
	</div>
	<br>
	<div class="row">
		<div class="col-md-12">
				<table class="table table-inverse">
					<thead>
						<tr>
							<th>#</th>
							<th>Foto</th>
							<th>Nombre</th>
							<th>Popularidad</th>
							<th>Escuchar</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let cancion of canciones; let i = index">
							<td>
								{{ i + 1 }}
							</td>
							<td>
								<img [src]="cancion.album.images | sinfoto" class="img-50">
							</td>
							<td>
								{{ cancion.name }}
							</td>
							<td>
								{{ cancion.popularity }}
							</td>
							<td>
								<iframe [src]="cancion.uri | domSeguro:'https://open.spotify.com/embed?uri='" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>
							</td>
						</tr>
					</tbody>
				</table>			
		</div>
		
	</div>

</div>
